<nav class="menu d-sm-none">
    <div class="row h-100">
        <div [routerLink]="['/']" class="col-3 bg-dark h-100 text-center">
            <i class="bi bi-bookmark-plus-fill"></i>
        </div>
        <div [routerLink]="['/sobre_mi']" class="col-3 bg-danger h-100 text-center">
            <i class="bi bi-bookmark-plus-fill"></i>
        </div>
        <div [routerLink]="['/proyectos']" class="col-3 bg-dark h-100 text-center">
            <i class="bi bi-bookmark-plus-fill"></i>
        </div>
        <div [routerLink]="['/contacto']" class="col-3 bg-danger h-100 text-center">
            <i class="bi bi-bookmark-plus-fill"></i>
        </div>
    </div>
</nav>
