.contenido{
    /* margin-left: 20em; */
    width: 100%;
    height: 100%;
    margin: auto;

}
.imagen{
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    padding-top: 40px;
    background-color: red;
}
.title{
    text-align: center;
    line-height: 110px;
}
.mitad{
    display: inline-block;
    width: 50%;
    height: 100vh;
 
    border: 1px solid black;
}