<div *ngIf="widthscreen < 650" class="contenido_mobil">
    <h1>SOY EL CONTENIDO DE LA PAGINA DE INICIO mobil</h1>
</div>
<!-- <div class="imagen">
    <h1 class="title">Titulo de la pagina</h1>
</div> -->
<div *ngIf="widthscreen > 650" class="contenido">
    <div class="mitad">
        <div class="row bg-dark h-100">
            <div class="col-12 align-items-center text-light d-flex justify-content-center">
                <div class="row bg-danger">
                    <div class="col-6 w-100">
                        <input class="w-50" type="text" name="" id="">
                        <input class="w-50" type="text" name="" id="">
                    </div>
                    <div class="col-6 w-100">
                        <input class="w-100" type="text" name="" id="">
                    </div> 
                    <div class="col-6 w-100">
                        <textarea class="w-100" name="" id="" cols="48" rows="10"></textarea>
                    </div>    
                    <marquee>HOLA ME LLAMO ROBERTO Y ME GUSTAN LOS BANNER</marquee>
                    <q>ddasdsadasd</q>
                    <B>NEGRITA</B>
                </div>
            </div>

        </div>
    </div>
    <div class="mitad">
        
    </div>
    <!-- <h1>SOY EL CONTENIDO DE LA PAGINA DE INICIO</h1>  -->
</div>
